/*****************************************************************************
  patriceroc
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
// Visual Grids Details 
$grid-columns: 12 ;
$visual-grid: false ;
$visual-grid-color: lightblue;

@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';










/*****************************************************************************
  Base Styles
******************************************************************************/

main {
	// @include outer-container;
	color: white;
	font-family: Oswald, Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	letter-spacing: .08em;
	line-height: 1.5em;
	text-align: justify; 
}

li {
	list-style-type: none;

}

ul {
	padding:0;
	display:inline-block;
}

.section {
	display: block;
	min-height: em(800);
	overflow: auto;
	width:100%;
}

.page-anchor {
	
	padding: 0;
	margin-top:0;
	opacity: 0;
}

// p {
// 	// font-family: Oswald, Futura, ‘Century Gothic’, AppleGothic, sans-serif;
// 	letter-spacing: .08em;
// 	line-height: 1.5em;
// 	text-align: justify;
// }

// .content {

// 	@include outer-container;
// 		@include span-columns (12);
// }



// ******************* 
//Media Queries links 
//********************

// $small: new-breakpoint (min-width 680px max-width 949px);
// $medium: new-breakpoint (min-width 950px max-width 1199px);


/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
******************************************************************************/



// .nav-container{
// @include outer-container;
// @include span-columns (6);
// }


.nav-container {
	position:fixed;
	top:0;
	width: 100%;
	height:em(130);
	overflow: auto;
	background-color: rgba(67,110,127,0.8);
	z-index: 9;

}

.nav {
	width:40%;
	display:block;
	margin: 0 auto;
	text-align:center;
	line-height:em(130);

}

.links {
	display:inline-block;
	margin: 0 em(10px) 0;
}

.nav-links {
	text-decoration:none;
	color:white;
}

.links {
}


.intro { 
	background-color:#2EC4FF;
	margin-top:em(130);
}

.work { 
	background-color:#00B6FF;
}

.contact { 
	background-color:#0092CC;
}

.about { 
	background-color:#436E7F;
}





.intro-container {
	@include outer-container;
	background-color:rgba(67,110,127,0.3);
	min-height: em(400);
	overflow: auto;
	position: relative;
	top: em(200);
	padding: em(20);
	
}

.work-container {
	@include outer-container;
	background-color:rgba(67,110,127,0.3);
	min-height: em(400);
	overflow: auto;
	position: relative;
	top: em(200);
}

.about-container {
	@include outer-container;
	background-color: rgba(0,0,0,0.1);
	min-height: em(400);
	overflow: auto;
	position: relative;
	top: em(200);
}

.contact-container {
	@include outer-container;
	background-color:rgba(67,110,127,0.3);
	min-height: em(400);
	overflow: auto;
	position: relative;
	top: em(200);
}



// .element {
//   @include span-columns(6);

//  .nested-element {
//    @include span-columns(2 of 6);
//  }
// }























